In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import pandas as pd

folder = "/content/drive/Shareddrives/KCW-Data/kcw_analytics/01_raw"

data = {}

for file in os.listdir(folder):
    if file.endswith(".csv"):
        path = os.path.join(folder, file)
        data[file] = pd.read_csv(
            path,
            dtype={
              "BCODE": "string",
              "ITEMNO": "string",
              "BILLNO": "string",
            },
            encoding="utf-8-sig",
            low_memory=False   # stops chunk guessing
        )
        print(f"Loaded: {file} -> {data[file].shape}")

Loaded: raw_inventory_hq_2024.csv -> (4983, 8)
Loaded: raw_hq_icmas_products.csv -> (114890, 94)
Loaded: raw_hq_pimas_purchase_bills.csv -> (50127, 49)
Loaded: raw_hq_pidet_purchase_lines.csv -> (153425, 41)
Loaded: raw_hq_sidet_sales_lines.csv -> (732564, 38)
Loaded: raw_hq_simas_sales_bills.csv -> (275955, 49)
Loaded: raw_syp_pimas_purchase_bills.csv -> (2908, 49)
Loaded: raw_syp_sidet_sales_lines.csv -> (35978, 38)
Loaded: raw_syp_simas_sales_bills.csv -> (12182, 49)
Loaded: raw_syp_pidet_purchase_lines.csv -> (27182, 41)

In [4]:
df_simas = data["raw_hq_simas_sales_bills.csv"].copy()
df_sidet = data["raw_hq_sidet_sales_lines.csv"].copy()

df_sidet["AMOUNT"] = pd.to_numeric(df_sidet["AMOUNT"], errors="coerce")
df_simas["AFTERTAX"] = pd.to_numeric(df_simas["AFTERTAX"], errors="coerce")
df_simas["BEFORETAX"] = pd.to_numeric(df_simas["BEFORETAX"], errors="coerce")

In [11]:
df_simas.columns

Index(['ID', 'JOURMODE', 'JOURTYPE', 'JOURDATE', 'JOURNO', 'JOURTIME',
       'DEPTNO', 'BOOKNO', 'BILLTYPE', 'BILLDATE', 'BILLTIME', 'BILLNO',
       'LINES', 'TAXIC', 'DISCOUNT', 'DEDUCT', 'BEFORETAX', 'VAT', 'TAX',
       'AFTERTAX', 'EXEMPT', 'SVCCHG', 'WITHHOLD', 'PAID', 'CASHED', 'CASHAMT',
       'CHKAMT', 'DUEAMT', 'PAYSTAT', 'ACCTNO', 'ACCTNAME', 'ADDR1', 'ADDR2',
       'PO', 'SALE', 'RE', 'TERM', 'DUEDATE', 'NOTEDATE', 'NOTENO',
       'VOUCDATE1', 'VOUCNO1', 'VOUCDATE2', 'VOUCNO2', 'POSTED1', 'POSTED2',
       'REMARKS', 'CANCELED', 'DONE', 'BILLTYPE_BILLNO'],
      dtype='object')

In [22]:
df_simas["BILLTYPE_BILLNO"] = df_simas["BILLTYPE"].astype(str) + "_" + df_simas["BILLNO"].astype(str)

non_unique = (
    df_simas[df_simas.duplicated(subset=["BILLTYPE_BILLNO"], keep=False)]
    .sort_values("BILLTYPE_BILLNO")
)

non_unique[['BILLNO', 'BILLTYPE', 'BILLTYPE_BILLNO', 'BOOKNO', 'TAXIC', 'BILLDATE', 'JOURMODE', 'JOURTYPE']]

,BILLNO,BILLTYPE,BILLTYPE_BILLNO,BOOKNO,TAXIC,BILLDATE,JOURMODE,JOURTYPE
179398,1122787,0,0_1122787,1,N,2024-07-15,1,SJ
179925,1122787,0,0_1122787,1,N,2024-07-18,2,SJ
166,1K65,1,1_1K65,1,N,2021-02-23,2,SJ
772,1K65,1,1_1K65,1,N,2021-02-27,2,SJ
1096,1K65,1,1_1K65,1,N,2021-03-01,2,SJ
2471,1K65,1,1_1K65,1,N,2021-03-10,2,SJ
7497,4K64-00001,1,1_4K64-00001,5,N,2021-04-10,2,SJ
7608,4K64-00001,1,1_4K64-00001,5,N,2021-04-11,2,SJ
221064,4K68-0000375,1,1_4K68-0000375,4,N,2025-04-08,2,SJ
221065,4K68-0000375,1,1_4K68-0000375,4,N,2025-04-08,2,SJ
30495,8K64-21789,1,1_8K64-21789,8,N,2021-09-10,2,SJ
30503,8K64-21789,1,1_8K64-21789,8,N,2021-09-10,2,SJ
55447,8K65-02245,1,1_8K65-02245,8,N,2022-03-12,2,SJ
55482,8K65-02245,1,1_8K65-02245,8,N,2022-03-12,2,SJ

In [20]:
filtered = df_sidet[df_sidet["BILLNO"].isin(["4K68-0000375"])]

filtered[['BILLDATE', 'BILLNO', 'BILLTYPE']]

          BILLDATE        BILLNO  BILLTYPE
559394  2025-04-08  4K68-0000375       1.0
559395  2025-04-08  4K68-0000375       1.0

In [34]:
df_sidet.columns

Index(['ID', 'JOURMODE', 'JOURTYPE', 'JOURDATE', 'BILLTYPE', 'BILLDATE',
       'BILLNO', 'LINE', 'ITEMNO', 'BCODE', 'PCODE', 'MCODE', 'DETAIL',
       'WHNUMBER', 'LOCATION1', 'STATUS', 'SERIAL', 'TAXIC', 'EXMPT', 'ISVAT',
       'QTY', 'UI', 'MTP', 'PRICE', 'XPRICE', 'DISCNT1', 'DISCNT2', 'DISCNT3',
       'DISCNT4', 'DED', 'VAT', 'AMOUNT', 'CHGAMT', 'ACCTNO', 'PAID',
       'ACCT_NO', 'DONE', 'CANCELED'],
      dtype='object')

In [62]:
df_sidet["ISVAT"]

0         N
1         N
2         N
3         N
4         N
         ..
732414    N
732415    N
732416    Y
732417    N
732418    Y
Name: ISVAT, Length: 732419, dtype: object

In [63]:
# ensure numeric first (legacy POS safe)
cols = ["AMOUNT", "VAT", "DED"]
df_sidet[cols] = df_sidet[cols].apply(pd.to_numeric, errors="coerce")

# fill null VAT with 0 (important)
df_sidet["VAT"] = df_sidet["VAT"].fillna(0)

# ðŸ”µ create VAT-removed column at line level
df_sidet["BASE_AMOUNT"] = df_sidet["AMOUNT"].where(
    df_sidet["ISVAT"] == "N",
    (100 / (100 + df_sidet["VAT"])) * df_sidet["AMOUNT"]
)

# groupby bill
sidet_sum = (
    df_sidet
    .groupby("BILLNO", as_index=False)
    .agg(
        SIDET_AMOUNT_SUM=("AMOUNT", "sum"),
        SIDET_BASE_AMOUNT_SUM=("BASE_AMOUNT", "sum")
    )
)

In [64]:
df_check = df_simas.merge(
    sidet_sum,
    on="BILLNO",
    how="left"
)

In [65]:
df_check["DELTA"] = (
    pd.to_numeric(df_check["BEFORETAX"], errors="coerce")
    - pd.to_numeric(df_check["SIDET_BASE_AMOUNT_SUM"], errors="coerce")
)

In [66]:
df_problem = df_check[df_check["DELTA"].abs() > 0.01]

In [82]:
df_problem = df_problem.copy()

df_problem["BILLDATE"] = pd.to_datetime(
    df_problem["BILLDATE"],
    errors="coerce"
)

df_problem_21feb = df_problem[
    (df_problem["BILLDATE"] >= "2026-02-20") &
    (df_problem["BILLDATE"] < "2026-02-21")
]

In [85]:
df_problem_21feb[['BILLNO', 'BILLTYPE','BEFORETAX','AFTERTAX','VAT', 'DEDUCT','SIDET_AMOUNT_SUM', 'DELTA', 'TAXIC']]

,BILLNO,BILLTYPE,BEFORETAX,AFTERTAX,VAT,DEDUCT,SIDET_AMOUNT_SUM,DELTA,TAXIC
275410,8K69-0003078,1,100.00,100.00,0.0,9.00,109.00,-9.000000,N
275417,8K69-0003082,1,6900.00,6900.00,0.0,10.00,6910.00,-10.000000,N
275424,6K69-0001960,1,15.00,15.00,0.0,0.50,15.50,-0.500000,N
275433,TD6902-114,1,3190.66,3414.01,7.0,NaN,3190.66,208.734766,N
275438,6K69-0001964,1,1260.00,1260.00,0.0,-5.00,1255.00,5.000000,N
275465,8K69-0003097,1,655.00,655.00,0.0,1.00,656.00,-1.000000,N
275468,TD6902-117,1,2784.02,2978.90,7.0,NaN,2784.02,182.132150,N
275472,6K69-0001974,1,7960.00,7960.00,0.0,5.00,7965.00,-5.000000,N
275500,TFV6902-003,2,-2782.00,-2782.00,0.0,6567.36,-197.12,-2584.880000,N
275524,6K69-0001998,1,2160.00,2160.00,0.0,1.00,2161.00,-1.000000,N
275529,8K69-0003120,1,620.00,620.00,0.0,5.00,625.00,-5.000000,N
275536,8K69-0003124,1,2860.00,2860.00,0.0,5.00,2865.00,-5.000000,N
275554,TD6902-121,1,800.00,856.00,7.0,NaN,800.00,52.336449,N

In [87]:
filtered = df_sidet[df_sidet["BILLNO"].isin(["TFV6902-003"])]

filtered[['BCODE','BILLNO','ISVAT','DISCNT1', 'DISCNT2', 'DISCNT3',
       'DISCNT4', 'DED', 'AMOUNT']]

,BCODE,BILLNO,ISVAT,DISCNT1,DISCNT2,DISCNT3,DISCNT4,DED,AMOUNT
721579,22050198,TFV6902-003,N,NaN,NaN,NaN,NaN,NaN,2324.88
721580,12051898,TFV6902-003,N,NaN,NaN,NaN,NaN,NaN,130.00
721581,12051753,TFV6902-003,N,NaN,NaN,NaN,NaN,NaN,40.00
721582,12050530,TFV6902-003,N,NaN,NaN,NaN,NaN,NaN,90.00
731193,12053133,TFV6902-003,N,NaN,NaN,NaN,NaN,NaN,-2782.00

In [78]:
df_sidet.columns

Index(['ID', 'JOURMODE', 'JOURTYPE', 'JOURDATE', 'BILLTYPE', 'BILLDATE',
       'BILLNO', 'LINE', 'ITEMNO', 'BCODE', 'PCODE', 'MCODE', 'DETAIL',
       'WHNUMBER', 'LOCATION1', 'STATUS', 'SERIAL', 'TAXIC', 'EXMPT', 'ISVAT',
       'QTY', 'UI', 'MTP', 'PRICE', 'XPRICE', 'DISCNT1', 'DISCNT2', 'DISCNT3',
       'DISCNT4', 'DED', 'VAT', 'AMOUNT', 'CHGAMT', 'ACCTNO', 'PAID',
       'ACCT_NO', 'DONE', 'CANCELED', 'BASE_AMOUNT'],
      dtype='object')

In [79]:
df_simas.columns

Index(['ID', 'JOURMODE', 'JOURTYPE', 'JOURDATE', 'JOURNO', 'JOURTIME',
       'DEPTNO', 'BOOKNO', 'BILLTYPE', 'BILLDATE', 'BILLTIME', 'BILLNO',
       'LINES', 'TAXIC', 'DISCOUNT', 'DEDUCT', 'BEFORETAX', 'VAT', 'TAX',
       'AFTERTAX', 'EXEMPT', 'SVCCHG', 'WITHHOLD', 'PAID', 'CASHED', 'CASHAMT',
       'CHKAMT', 'DUEAMT', 'PAYSTAT', 'ACCTNO', 'ACCTNAME', 'ADDR1', 'ADDR2',
       'PO', 'SALE', 'RE', 'TERM', 'DUEDATE', 'NOTEDATE', 'NOTENO',
       'VOUCDATE1', 'VOUCNO1', 'VOUCDATE2', 'VOUCNO2', 'POSTED1', 'POSTED2',
       'REMARKS', 'CANCELED', 'DONE'],
      dtype='object')

In [89]:
filtered = df_simas[df_simas["BILLNO"].isin(["TFV6902-003"])]
filtered[['BILLNO','VAT', 'TAX', 'BEFORETAX', 'AFTERTAX', 'TAXIC']]

             BILLNO  VAT  TAX  BEFORETAX  AFTERTAX TAXIC
272324  TFV6902-003  0.0  0.0    2584.88   2584.88     N
275500  TFV6902-003  0.0  0.0   -2782.00  -2782.00     N

In [61]:
df_problem_21feb[['BILLNO','DISCOUNT', 'TAX', 'VAT', 'DEDUCT','BEFORETAX', 'AFTERTAX', 'SIDET_AMOUNT_SUM', 'DELTA', 'SIDET_BASE_AMOUNT_SUM']]

,BILLNO,DISCOUNT,TAX,VAT,DEDUCT,BEFORETAX,AFTERTAX,SIDET_AMOUNT_SUM,DELTA,SIDET_BASE_AMOUNT_SUM
275596,TAD6902-453,NaN,75.56,7.0,NaN,1079.44,1155.0,1155.0,-75.56,1155.0
275599,TAD6902-454,NaN,51.68,7.0,NaN,738.32,790.0,790.0,-51.68,790.0
275600,TAD6902-455,NaN,18.97,7.0,NaN,271.03,290.0,290.0,-18.97,290.0
275601,TAD6902-456,NaN,136.73,7.0,NaN,1953.27,2090.0,2090.0,-136.73,2090.0
275604,TAD6902-457,NaN,18.97,7.0,NaN,271.03,290.0,290.0,-18.97,290.0
275607,TAD6902-458,NaN,5.17,7.0,NaN,73.83,79.0,79.0,-5.17,79.0
275608,TAD6902-459,NaN,12.43,7.0,NaN,177.57,190.0,190.0,-12.43,190.0
275618,TAD6902-460,NaN,183.18,7.0,NaN,2616.82,2800.0,2800.0,-183.18,2800.0
275620,8K69-0003147,NaN,0.00,0.0,8.0,3200.00,3200.0,3208.0,-8.00,3208.0
275622,TAD6902-461,NaN,128.88,7.0,NaN,1841.12,1970.0,1970.0,-128.88,1970.0
275624,TAD6902-462,NaN,96.82,7.0,NaN,1383.18,1480.0,1480.0,-96.82,1480.0
275626,TAD6902-463,NaN,15.05,7.0,NaN,214.95,230.0,230.0,-15.05,230.0
275627,TD6902-124,NaN,147.85,7.0,NaN,2112.15,2260.0,2260.0,-147.85,2260.0
275628,8K69-0003149,NaN,0.00,0.0,6.0,11390.00,11390.0,11396.0,-6.00,11396.0
275630,TAD6902-464,NaN,202.48,7.0,NaN,2892.52,3095.0,3095.0,-202.48,3095.0
275633,TAD6902-465,NaN,16.03,7.0,NaN,228.97,245.0,245.0,-16.03,245.0
275636,TAD6902-466,NaN,134.11,7.0,NaN,1915.89,2050.0,2050.0,-134.11,2050.0
275637,6K69-0002018,NaN,0.00,0.0,5.0,1760.00,1760.0,1765.0,-5.00,1765.0
275638,TAD6902-467,NaN,116.12,7.0,NaN,1658.88,1775.0,1775.0,-116.12,1775.0
275645,TD6902-125,NaN,51.03,7.0,NaN,728.97,780.0,780.0,-51.03,780.0
275654,6K69-0002024,NaN,0.00,0.0,3.0,4470.00,4470.0,4473.0,-3.00,4473.0
275659,8K69-0003164,NaN,0.00,0.0,2.0,15.00,15.0,17.0,-2.00,17.0
275668,6K69-0002031,NaN,0.00,0.0,6.0,1160.00,1160.0,1166.0,-6.00,1166.0
275669,TAD6902-468,NaN,425.23,7.0,NaN,6074.77,6500.0,6500.0,-425.23,6500.0
275671,8K69-0003169,NaN,0.00,0.0,2.5,360.00,360.0,362.5,-2.50,362.5
275675,TAD6902-469,NaN,18.97,7.0,NaN,271.03,290.0,290.0,-18.97,290.0
275676,TAD6902-470,NaN,10.79,7.0,NaN,154.21,165.0,165.0,-10.79,165.0
275679,TAD6902-471,NaN,3.86,7.0,NaN,55.14,59.0,59.0,-3.86,59.0
275680,TAD6902-472,NaN,81.78,7.0,NaN,1168.22,1250.0,1250.0,-81.78,1250.0
275682,TAD6902-473,NaN,13.41,7.0,NaN,191.59,205.0,205.0,-13.41,205.0
275683,TAD6902-474,NaN,88.64,7.0,NaN,1266.36,1355.0,1355.0,-88.64,1355.0
275685,8K69-0003173,NaN,0.00,0.0,5.0,250.00,250.0,255.0,-5.00,255.0
275689,8K69-0003175,NaN,0.00,0.0,4.0,100.00,100.0,104.0,-4.00,104.0
275711,TAR6902-320,NaN,336.26,7.0,NaN,4803.74,5140.0,5140.0,-336.26,5140.0
275712,TAR6902-321,NaN,286.21,7.0,NaN,4088.79,4375.0,4375.0,-286.21,4375.0
275717,TAR6902-322,NaN,325.99,7.0,NaN,4657.01,4983.0,4983.0,-325.99,4983.0
275718,TAR6902-323,NaN,124.36,7.0,NaN,1776.64,1901.0,1901.0,-124.36,1901.0
275720,TAR6902-324,NaN,126.59,7.0,NaN,1808.41,1935.0,1935.0,-126.59,1935.0
275722,TAR6902-325,NaN,380.42,7.0,NaN,5434.58,5815.0,5815.0,-380.42,5815.0
275723,TAR6902-326,NaN,288.18,7.0,NaN,4116.82,4405.0,4405.0,-288.18,4405.0
275724,TAR6902-327,NaN,337.24,7.0,NaN,4817.76,5155.0,5155.0,-337.24,5155.0
275726,TAR6902-328,NaN,964.04,7.0,NaN,13771.96,14736.0,14736.0,-964.04,14736.0
275727,TAR6902-329,NaN,136.07,7.0,NaN,1943.93,2080.0,2080.0,-136.07,2080.0
275728,TAR6902-330,NaN,416.60,7.0,NaN,5951.40,6368.0,6368.0,-416.60,6368.0
275730,TAR6902-331,NaN,196.26,7.0,NaN,2803.74,3000.0,3000.0,-196.26,3000.0
275732,TAR6902-332,NaN,91.46,7.0,NaN,1306.54,1398.0,1398.0,-91.46,1398.0
275733,8K69-0003186,NaN,0.00,0.0,4.0,700.00,700.0,704.0,-4.00,704.0
275734,TAR6902-333,NaN,553.46,7.0,NaN,7906.54,8460.0,8460.0,-553.46,8460.0
275735,TAR6902-334,NaN,340.84,7.0,NaN,4869.16,5210.0,5210.0,-340.84,5210.0
275736,TAR6902-335,NaN,395.40,7.0,NaN,5648.60,6044.0,6044.0,-395.40,6044.0
275739,TAR6902-336,NaN,164.37,7.0,NaN,2348.13,2512.5,2512.5,-164.37,2512.5
275740,TAR6902-337,NaN,1752.03,7.0,NaN,25028.97,26781.0,26781.0,-1752.03,26781.0
275741,TAR6902-338,NaN,245.33,7.0,NaN,3504.67,3750.0,3750.0,-245.33,3750.0
275743,TR6902-023,NaN,179.91,7.0,NaN,2570.09,2750.0,2750.0,-179.91,2750.0
275744,8K69-0003188,NaN,0.00,0.0,1.0,305.00,305.0,306.0,-1.00,306.0
275745,TAR6902-339,NaN,285.23,7.0,NaN,4074.77,4360.0,4360.0,-285.23,4360.0
275755,TAR6902-340,NaN,14.39,7.0,NaN,205.61,220.0,220.0,-14.39,220.0

In [11]:
df_problem_21feb[['DELTA','AFTERTAX','SIDET_AMOUNT_SUM', 'DEDUCT', 'TAX']].sum()

DELTA                 840.13
AFTERTAX            37262.80
SIDET_AMOUNT_SUM    36422.67
DEDUCT                 46.50
TAX                   886.63
dtype: float64

In [22]:
total = (
    df_check.loc[
        (df_check["BILLDATE"] >= "2026-02-21") &
        (df_check["BILLDATE"] <  "2026-02-22"),
        ["BEFORETAX"]
    ]
    .sum(axis=1)
    .sum()
)

print(total)

340133.16

In [45]:
mask = (
    (df_sidet["BILLDATE"] >= "2026-02-21") &
    (df_sidet["BILLDATE"] <  "2026-02-22")
)

subset = df_sidet.loc[mask].copy()

# fill VAT null with 0
subset["VAT"] = subset["VAT"].fillna(0)

base_amount = subset["AMOUNT"].where(
    subset["VAT"] <= 0,
    (100 / (100 + subset["VAT"])) * subset["AMOUNT"]
)

total = base_amount.sum()

print(total + 886.63 - 46.50)

340191.14485981304

In [21]:
total = (
    df_check.loc[
        (df_check["BILLDATE"] >= "2026-02-21") &
        (df_check["BILLDATE"] <  "2026-02-22"),
        ["SIDET_AMOUNT_SUM"]
    ]
    .sum(axis=1)
    .sum()
)

print(total)

350174.04000000004