In [ ]:
!git clone https://github.com/pthengtr/kcw-analytics.git

Cloning into 'kcw-analytics'...
remote: Enumerating objects: 387, done.
remote: Counting objects: 100% (165/165), done.
remote: Compressing objects: 100% (134/134), done.
remote: Total 387 (delta 111), reused 57 (delta 28), pack-reused 222 (from 1)
Receiving objects: 100% (387/387), 315.61 KiB | 6.86 MiB/s, done.
Resolving deltas: 100% (243/243), done.

In [ ]:
!cd /content/kcw-analytics && git pull origin main

From https://github.com/pthengtr/kcw-analytics
 * branch            main       -> FETCH_HEAD
Already up to date.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import pandas as pd

folder = "/content/drive/Shareddrives/KCW-Data/kcw_analytics/01_raw"

data = {}

for file in os.listdir(folder):
    if file.endswith(".csv"):
        path = os.path.join(folder, file)
        data[file] = pd.read_csv(
            path,
            dtype={
              "BCODE": "string",
              "ITEMNO": "string",
              "BILLNO": "string",
            },
            encoding="utf-8-sig",
            low_memory=False   # stops chunk guessing
        )
        print(f"Loaded: {file} -> {data[file].shape}")

Loaded: raw_inventory_hq_2024.csv -> (4983, 8)
Loaded: raw_syp_pidet_purchase_lines.csv -> (27233, 41)
Loaded: raw_syp_pimas_purchase_bills.csv -> (2915, 49)
Loaded: raw_syp_simas_sales_bills.csv -> (12299, 49)
Loaded: raw_syp_sidet_sales_lines.csv -> (36360, 38)
Loaded: raw_hq_icmas_products.csv -> (114903, 94)
Loaded: raw_hq_pidet_purchase_lines.csv -> (153589, 41)
Loaded: raw_hq_pimas_purchase_bills.csv -> (50176, 49)
Loaded: raw_hq_sidet_sales_lines.csv -> (732969, 38)
Loaded: raw_hq_pvmas_notes_vouchers.csv -> (13730, 32)
Loaded: raw_hq_simas_sales_bills.csv -> (275965, 49)

In [ ]:
import pandas as pd
import numpy as np

def build_bill_summary_by_taxic(
    df: pd.DataFrame,
    *,
    billno_col: str = "BILLNO",
    billdate_col: str = "BILLDATE",
    detail_col: str = "DETAIL",
    amount_col: str = "AMOUNT",
    taxic_col: str = "TAXIC",
    tax_rate: float = 0.07,
    tax_id_value: str = "0000000000000",
    taxic_yes: str = "Y",
):
    """
    VAT logic:
      TAXIC == Y : AMOUNT includes VAT
      TAXIC == N : AMOUNT excludes VAT
    """

    out = df.copy()
    out[billno_col] = out[billno_col].astype("string")
    out[amount_col] = pd.to_numeric(out[amount_col], errors="coerce").fillna(0)

    # normalize TAXIC
    if taxic_col not in out.columns:
        out[taxic_col] = ""

    out[taxic_col] = out[taxic_col].astype("string").str.strip().str.upper()

    # ===== pick DETAIL from highest AMOUNT row =====
    idx_max_amt = out.groupby(billno_col)[amount_col].idxmax()
    detail_pick = (
        out.loc[idx_max_amt, [billno_col, detail_col]]
        .set_index(billno_col)[detail_col]
    )

    # ===== group totals =====
    totals = (
        out.groupby(billno_col, as_index=False)
        .agg(
            TOTAL_AMOUNT=(amount_col, "sum"),
            BILLDATE=(billdate_col, "first"),
            TAXIC=(taxic_col, "first"),
        )
    )

    totals[detail_col] = totals[billno_col].map(detail_pick)

    # ===== VAT calculation based on TAXIC =====
    divisor = 1 + tax_rate
    is_vat_inclusive = totals["TAXIC"].eq(taxic_yes)

    totals["BEFORE_VAT"] = np.where(
        is_vat_inclusive,
        (totals["TOTAL_AMOUNT"] / divisor).round(2),   # inclusive case
        totals["TOTAL_AMOUNT"].round(2)               # exclusive case
    )

    totals["VAT_AMOUNT"] = np.where(
        is_vat_inclusive,
        (totals["TOTAL_AMOUNT"] - totals["BEFORE_VAT"]).round(2),
        (totals["TOTAL_AMOUNT"] * tax_rate).round(2)
    )

    # optional: total including VAT (very useful downstream)
    totals["TOTAL_INCL_VAT"] = (totals["BEFORE_VAT"] + totals["VAT_AMOUNT"]).round(2)

    # TAX ID
    totals["TAX_ID"] = str(tax_id_value).zfill(13)[:13]

    # SEQ
    totals = totals.sort_values(billno_col).reset_index(drop=True)
    totals["SEQ"] = np.arange(1, len(totals) + 1)

    return totals

def map_simas_bill_fields(
    df: pd.DataFrame,
    df_simas: pd.DataFrame,
    *,
    billno_col: str = "BILLNO",
    fields: tuple = ("DEDUCT", "TAX", "AFTERTAX"),
    copy: bool = True,
    verbose: bool = True,
):
    """
    Join DEDUCT, TAX, AFTERTAX from df_simas into df using BILLNO.
    """

    if billno_col not in df.columns:
        raise ValueError(f"{billno_col} not found in df")

    if billno_col not in df_simas.columns:
        raise ValueError(f"{billno_col} not found in df_simas")

    # --- normalize join keys (VERY important for legacy POS)
    left = df.copy()
    right = df_simas.copy()

    left["_JOIN_KEY"] = left[billno_col].astype("string").str.strip().str.upper()
    right["_JOIN_KEY"] = right[billno_col].astype("string").str.strip().str.upper()

    # --- build lookup table (avoid duplicate explosion)
    cols = ["_JOIN_KEY"] + [c for c in fields if c in right.columns]

    lookup = (
        right[cols]
        .drop_duplicates(subset=["_JOIN_KEY"], keep="first")
    )

    # --- merge
    result = left.merge(
        lookup,
        on="_JOIN_KEY",
        how="left"
    ).drop(columns=["_JOIN_KEY"])

    if copy:
        result = result.copy()

    if verbose:
        matched = result[fields[0]].notna().sum()
        print(f"[map_simas_bill_fields] matched rows: {matched:,}/{len(result):,}")

    return result

def filter_year_month(df, year, month, date_col="BILLDATE"):
    return df[pd.to_datetime(df[date_col]).dt.to_period("M") == f"{year}-{month:02d}"]

In [ ]:
import pandas as pd

# 1) Config: doc type prefixes per source
BILLTYPE_RULES = {
    "hq": {
        "TD":  ("TD",),
        "TAD": ("TAD",),
        "TR":  ("TR",),
        "CN":  ("CN",),
    },
    "syp": {
        "TD":  ("3TD",),
        "TAD": ("3TAD",),
        "TR":  ("3TR",),
        "CN":  ("3CN",),
    },
}

def build_monthly_doc_summaries(
    df_sidet: pd.DataFrame,
    df_simas: pd.DataFrame,
    *,
    source: str,     # "hq" or "syp"
    year: int,
    month: int,
    billno_col: str = "BILLNO",
    date_col: str = "BILLDATE",
    verbose: bool = True,
):
    """
    Clean pipeline:
      1) filter month
      2) remove TF bills
      3) split TD/TAD/TR/CN
      4) build summary (TAXIC logic)
      5) map SIMAS fields
    """

    # ---- 1) filter month
    df_m = filter_year_month(df_sidet, year, month)

    # normalize billno once
    s = df_m[billno_col].astype("string").str.strip().str.upper()

    # ---- 2) remove TF bills
    df_m = df_m.loc[~s.str.startswith("TF", na=False)].copy()
    s = df_m[billno_col].astype("string").str.strip().str.upper()

    # ---- 3) prefix rules (simple, no config dict needed)
    if source == "hq":
        rules = {
            "TD":  ("TD",),
            "TAD": ("TAD",),
            "TR":  ("TR",),
            "CN":  ("CN",),
        }
    else:  # syp
        rules = {
            "TD":  ("3TD",),
            "TAD": ("3TAD",),
            "TR":  ("3TR",),
            "CN":  ("3CN",),
        }

    out = {}

    for doc_type, prefixes in rules.items():

        mask = s.str.startswith(prefixes, na=False)
        df_type = df_m.loc[mask].copy()

        if df_type.empty:
            out[doc_type] = df_type
            if verbose:
                print(f"[{source}] {doc_type}: 0 rows")
            continue

        # ---- 4) build summary (VAT logic by TAXIC)
        summ = build_bill_summary_by_taxic(
            df_type,
            billno_col=billno_col,
            billdate_col=date_col,
        )

        # ---- 5) map SIMAS fields
        summ = map_simas_bill_fields(
            summ,
            df_simas,
            billno_col=billno_col,
            fields=("DEDUCT", "TAX", "AFTERTAX"),
            verbose=verbose,
        )

        out[doc_type] = summ

        if verbose:
            print(f"[{source}] {doc_type}: {len(df_type):,} rows -> {len(summ):,} bills")

    return out

In [ ]:
df_hq_sidet = data["raw_hq_sidet_sales_lines.csv"].copy()
df_syp_sidet = data["raw_syp_sidet_sales_lines.csv"].copy()

df_hq_simas = data["raw_hq_simas_sales_bills.csv"].copy()
df_syp_simas = data["raw_syp_simas_sales_bills.csv"].copy()

In [ ]:
dt = pd.to_datetime(df_hq_sidet["BILLDATE"], errors="coerce")

YEAR  = dt.dt.year.max()
MONTH = dt[dt.dt.year == YEAR].dt.month.max()

print(YEAR, MONTH)

2026 2

In [ ]:
hq_summaries = build_monthly_doc_summaries(
    df_hq_sidet, df_hq_simas,
    source="hq", year=YEAR, month=MONTH
)

syp_summaries = build_monthly_doc_summaries(
    df_syp_sidet, df_syp_simas,
    source="syp", year=YEAR, month=MONTH
)

# Access:
df_hq_td_summary  = hq_summaries["TD"]
df_hq_tad_summary = hq_summaries["TAD"]
df_hq_tr_summary  = hq_summaries["TR"]
df_hq_cn_summary  = hq_summaries["CN"]

df_syp_td_summary  = syp_summaries["TD"]
df_syp_tad_summary = syp_summaries["TAD"]
df_syp_tr_summary  = syp_summaries["TR"]
df_syp_cn_summary  = syp_summaries["CN"]

[map_simas_bill_fields] matched rows: 4/141
[hq] TD: 315 rows -> 141 bills
[map_simas_bill_fields] matched rows: 0/539
[hq] TAD: 593 rows -> 539 bills
[map_simas_bill_fields] matched rows: 0/27
[hq] TR: 64 rows -> 27 bills
[map_simas_bill_fields] matched rows: 41/41
[hq] CN: 44 rows -> 41 bills
[syp] TD: 0 rows
[syp] TAD: 0 rows
[map_simas_bill_fields] matched rows: 0/9
[syp] TR: 37 rows -> 9 bills
[syp] CN: 0 rows

In [ ]:
kcwdir = '/content/drive/Shareddrives/KCW-Data'

In [ ]:
import os

out_dir = f"{kcwdir}/kcw_analytics/04_outputs/VAT_Sales/{YEAR}_{MONTH}"
os.makedirs(out_dir, exist_ok=True)

exports = [
    (df_hq_td_summary,  "TD"),
    (df_hq_tad_summary, "TAD"),
    (df_hq_tr_summary,  "TR"),
    (df_hq_cn_summary,  "CN"),
    (df_syp_td_summary,  "3TD"),
    (df_syp_tad_summary, "3TAD"),
    (df_syp_tr_summary,  "3TR"),
    (df_syp_cn_summary,  "3CN"),
]

for df, name in exports:
    path = f"{out_dir}/{name}.csv"
    df.to_csv(path, index=False, encoding="utf-8-sig")
    print(f"Saved -> {path}")

Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/TD.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/TAD.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/TR.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/CN.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/3TD.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/3TAD.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/3TR.csv
Saved -> /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Sales/2026_2/3CN.csv

In [99]:
df_pidet = data["raw_hq_pidet_purchase_lines.csv"].copy()
df_pimas = data["raw_hq_pimas_purchase_bills.csv"].copy()

In [104]:
def filter_year_month(df, year, month, date_col="BILLDATE"):
    d = df.copy()
    d[date_col] = pd.to_datetime(d[date_col], errors="coerce")
    return d[d[date_col].dt.to_period("M") == f"{year}-{month:02d}"]

In [105]:
df_pimas_m = filter_year_month(df_pimas, YEAR, MONTH)
df_pidet_m = filter_year_month(df_pidet, YEAR, MONTH)

In [106]:
# --- copy first (safe practice)
pidet_join = df_pidet_m.copy()
pimas_join = df_pimas_m.copy()

# --- normalize BILLNO (VERY important for old POS)
pidet_join["_JOIN_KEY"] = pidet_join["BILLNO"].astype("string").str.strip().str.upper()
pimas_join["_JOIN_KEY"] = pimas_join["BILLNO"].astype("string").str.strip().str.upper()

# --- build lookup from pimas (avoid duplicate explosion)
lookup = (
    pimas_join[["_JOIN_KEY", "BOOKNO", "TAX", "AFTERTAX"]]
    .drop_duplicates(subset=["_JOIN_KEY"], keep="first")
)

# --- LEFT JOIN (pidet is base)
pidet_join = pidet_join.merge(
    lookup,
    on="_JOIN_KEY",
    how="left"
).drop(columns=["_JOIN_KEY"])

print("rows after join:", len(pidet_join))
pidet_join.head()

rows after join: 2379

,ID,JOURMODE,JOURTYPE,JOURDATE,BILLTYPE,BILLDATE,BILLNO,LINE,ITEMNO,BCODE,...,PAID,SALEDATE,SALENO,SALEPRICE,ACCT_NO,CANCELED,DONE,BOOKNO,TAX,AFTERTAX
0,287444,2,PJ,2026-02-01,1,2026-02-01,0152.,10.0,1.0,12051971,...,N,NaN,NaN,NaN,NaN,N,N,1.0,0.0,9600.0
1,287445,2,PJ,2026-02-01,1,2026-02-01,0152.,20.0,2.0,12051621,...,N,NaN,NaN,NaN,NaN,N,N,1.0,0.0,9600.0
2,287635,2,PJ,2026-02-01,1,2026-02-01,0169.,10.0,1.0,12051545,...,N,NaN,NaN,NaN,NaN,N,N,1.0,0.0,2450.0
3,287636,2,PJ,2026-02-01,1,2026-02-01,0169.,20.0,2.0,30051472,...,N,NaN,NaN,NaN,NaN,N,N,1.0,0.0,2450.0
4,287793,2,PJ,2026-02-01,1,2026-02-01,0193.,10.0,1.0,18012060,...,N,NaN,NaN,NaN,NaN,N,N,1.0,0.0,12200.0

In [108]:
pidet_join = pidet_join[pidet_join["ISVAT"] == "Y"]

In [109]:
pidet_join

,ID,JOURMODE,JOURTYPE,JOURDATE,BILLTYPE,BILLDATE,BILLNO,LINE,ITEMNO,BCODE,...,PAID,SALEDATE,SALENO,SALEPRICE,ACCT_NO,CANCELED,DONE,BOOKNO,TAX,AFTERTAX
55,288299,1,PJ,2026-02-01,1,2026-02-01,RVM6901000010,10.0,1.0,12053679,...,N,NaN,NaN,NaN,NaN,N,N,1.0,235.51,3600.00
100,288666,1,PJ,2026-02-01,1,2026-02-01,KCY2,10.0,1.0,12054096,...,N,NaN,NaN,NaN,NaN,N,N,1.0,1644.76,25141.34
101,288667,1,PJ,2026-02-01,1,2026-02-01,KCY2,20.0,2.0,12052078,...,N,NaN,NaN,NaN,NaN,N,N,1.0,1644.76,25141.34
122,288743,1,PJ,2026-02-01,1,2026-02-01,KCY2,30.0,3.0,12050644,...,N,NaN,NaN,NaN,NaN,N,N,1.0,1644.76,25141.34
123,288744,1,PJ,2026-02-01,1,2026-02-01,KCY2,40.0,4.0,12051432,...,N,NaN,NaN,NaN,NaN,N,N,1.0,1644.76,25141.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373,291028,1,PJ,2026-02-24,2,2026-02-24,7KCCN6902-005,20.0,<NA>,<NA>,...,N,NaN,NaN,NaN,NaN,N,N,5.0,-13.66,-208.77
2374,291029,1,PJ,2026-02-24,3,2026-02-24,7KCDN6901-004,10.0,1.0,21050342,...,N,NaN,NaN,NaN,NaN,N,N,6.0,148.32,2267.11
2376,291037,1,PJ,2026-02-24,1,2026-02-24,02110070,10.0,1.0,22016122,...,N,NaN,NaN,NaN,NaN,N,N,1.0,5215.00,79715.00
2377,291039,1,PJ,2026-02-24,1,2026-02-24,1140099860,10.0,1.0,32010184,...,N,NaN,NaN,NaN,NaN,N,N,1.0,140.00,2140.00
2378,291040,1,PJ,2026-02-24,1,2026-02-24,1140099860,20.0,2.0,32010183,...,N,NaN,NaN,NaN,NaN,N,N,1.0,140.00,2140.00

In [112]:
import pandas as pd
import numpy as np

def build_purchase_bill_summary_by_taxic(
    df: pd.DataFrame,
    *,
    billno_col: str = "BILLNO",
    billdate_col: str = "BILLDATE",
    detail_col: str = "DETAIL",
    amount_col: str = "AMOUNT",
    taxic_col: str = "TAXIC",
    bookno_col: str = "BOOKNO",
    tax_col: str = "TAX",
    aftertax_col: str = "AFTERTAX",
    tax_rate: float = 0.07,
    tax_id_value: str = "0000000000000",
    taxic_yes: str = "Y",
):
    """
    Purchase summary:
      - AMOUNT summed from pidet lines
      - KEEP BOOKNO, TAX, AFTERTAX from input (pimas)
      - VAT split based on TAXIC
    """

    out = df.copy()

    out[billno_col] = out[billno_col].astype("string").str.strip().str.upper()
    out[amount_col] = pd.to_numeric(out[amount_col], errors="coerce").fillna(0)

    if taxic_col not in out.columns:
        out[taxic_col] = ""

    out[taxic_col] = out[taxic_col].astype("string").str.strip().str.upper()

    # ===== pick DETAIL from highest AMOUNT row =====
    idx_max_amt = out.groupby(billno_col)[amount_col].idxmax()
    detail_pick = (
        out.loc[idx_max_amt, [billno_col, detail_col]]
        .set_index(billno_col)[detail_col]
    )

    # ===== group totals (KEEP BOOKNO / TAX / AFTERTAX) =====
    totals = (
        out.groupby(billno_col, as_index=False)
        .agg(
            TOTAL_AMOUNT=(amount_col, "sum"),
            BILLDATE=(billdate_col, "first"),
            TAXIC=(taxic_col, "first"),
            BOOKNO=(bookno_col, "first"),
            TAX=(tax_col, "first"),
            AFTERTAX=(aftertax_col, "first"),
        )
    )

    totals[detail_col] = totals[billno_col].map(detail_pick)

    # ===== VAT calculation based on TAXIC =====
    divisor = 1 + tax_rate
    is_vat_inclusive = totals["TAXIC"].eq(taxic_yes)

    totals["BEFORE_VAT"] = np.where(
        is_vat_inclusive,
        (totals["TOTAL_AMOUNT"] / divisor).round(2),
        totals["TOTAL_AMOUNT"].round(2)
    )

    totals["VAT_AMOUNT"] = np.where(
        is_vat_inclusive,
        (totals["TOTAL_AMOUNT"] - totals["BEFORE_VAT"]).round(2),
        (totals["TOTAL_AMOUNT"] * tax_rate).round(2)
    )

    totals["TOTAL_INCL_VAT"] = (totals["BEFORE_VAT"] + totals["VAT_AMOUNT"]).round(2)

    totals["TAX_ID"] = str(tax_id_value).zfill(13)[:13]

    totals = totals.sort_values(billno_col).reset_index(drop=True)
    totals["SEQ"] = np.arange(1, len(totals) + 1)

    return totals

In [114]:
purchase_summary = build_purchase_bill_summary_by_taxic(pidet_join)
purchase_summary

,BILLNO,TOTAL_AMOUNT,BILLDATE,TAXIC,BOOKNO,TAX,AFTERTAX,DETAIL,BEFORE_VAT,VAT_AMOUNT,TOTAL_INCL_VAT,TAX_ID,SEQ
0,-1003861-2026,14336.45,2026-02-23,N,1.0,1003.55,15340.00,à¸™à¹‰à¸³à¸¢à¸²à¹à¸­à¸£à¹Œ R134a 134A à¸–à¸±à¸‡à¹€à¸¥à¹‡à¸ 3K PACO,14336.45,1003.55,15340.00,0000000000000,1
1,-202602/00074,5800.00,2026-02-02,N,1.0,406.00,6206.00,"à¹à¸‚à¸™à¸¥à¸²à¸à¸œà¸²à¸™à¸„à¸¹à¹‚à¸šà¸•à¹‰à¸²à¸£à¸¸à¹ˆà¸™à¸”à¸²à¸¡ 35"" M5000-M6040 (RH ...",5800.00,406.00,6206.00,0000000000000,2
2,-202602/00078,3400.00,2026-02-02,N,1.0,238.00,3638.00,à¹€à¸Ÿà¸·à¸­à¸‡à¸šà¸²à¸¢à¸¨à¸£à¸µ+à¹€à¸”à¸·à¸­à¸¢à¸«à¸¡à¸¹à¹€à¸žà¸¥à¸²à¸«à¸™à¹‰à¸² M5000-6040 8Tx1 ...,3400.00,238.00,3638.00,0000000000000,3
3,-202602/00082,5600.00,2026-02-02,N,1.0,392.00,5992.00,à¸à¸£à¸°à¸šà¸­à¸à¸Šà¹ˆà¸§à¸¢à¸¢à¸ à¸à¸£à¸°à¸šà¸­à¸à¹ƒà¸«à¸à¹ˆ(à¸à¸²à¹€à¸à¸¥à¸µà¸¢à¸§) M8540-M9540...,5600.00,392.00,5992.00,0000000000000,4
4,-202602/00301,13425.00,2026-02-04,N,1.0,939.75,14364.75,à¹à¸‚à¸™à¸à¸¥à¸²à¸‡ à¸ˆà¸±à¸¡à¹‚à¸šà¹‰ 6640 F/5000-6600 à¸¢.1 DT,13425.00,939.75,14364.75,0000000000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,VV0025400,3930.00,2026-02-13,N,1.0,275.10,4205.10,à¸„à¸±à¸™à¸ªà¹ˆà¸‡à¸—à¸±à¹‰à¸‡à¸Šà¸¸à¸” TIGER 2WD 333,3930.00,275.10,4205.10,0000000000000,429
429,VV0025446,5370.00,2026-02-21,N,1.0,375.90,5745.90,à¸„à¸±à¸™à¸ªà¹ˆà¸‡à¸žà¸§à¸‡à¸¡à¸²à¸¥à¸±à¸¢à¸—à¸±à¹‰à¸‡à¸Šà¸¸à¸” à¹„à¸‹à¹‚à¸„à¸¥à¸™ (K14) 333,5370.00,375.90,5745.90,0000000000000,430
430,VV0025447,1280.00,2026-02-21,N,1.0,89.60,1369.60,"à¸¥à¸¹à¸à¸«à¸¡à¸²à¸à¸›à¸µà¸à¸™à¸à¸¥à¹ˆà¸²à¸‡ T/T VIGO,REVO2W 333",1280.00,89.60,1369.60,0000000000000,431
431,VVA6900338,4107.01,2026-02-05,N,1.0,287.49,4394.50,à¹à¸«à¸§à¸™à¸¥à¸¹à¸à¸ªà¸¹à¸š NPR 6D16-6D17,4107.01,287.49,4394.50,0000000000000,432
432,WC-690200828,270.00,2026-02-12,N,2.0,18.90,288.90,à¸«à¸¡à¹‰à¸­à¸à¸£à¸­à¸‡à¹€à¸„à¸£à¸·à¹ˆà¸­à¸‡ BOBCAT K-FLO,270.00,18.90,288.90,0000000000000,433

In [115]:
import os

# your existing folder
out_dir = f"{kcwdir}/kcw_analytics/04_outputs/VAT_Purchases/{YEAR}_{MONTH}"
os.makedirs(out_dir, exist_ok=True)

# --- export loop
for bookno, g in purchase_summary.groupby("BOOKNO", dropna=False):

    # safe filename
    bookno_str = "UNKNOWN" if pd.isna(bookno) else str(bookno).strip()
    safe_bookno = "".join(c if c.isalnum() or c in ("-","_") else "_" for c in bookno_str)

    file_path = f"{out_dir}/VAT_PURCHASE_{YEAR}_{MONTH:02d}_BOOK_{safe_bookno}.csv"

    g.to_csv(file_path, index=False, encoding="utf-8-sig")

    print("saved:", file_path)

saved: /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Purchases/2026_2/VAT_PURCHASE_2026_02_BOOK_1_0.csv
saved: /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Purchases/2026_2/VAT_PURCHASE_2026_02_BOOK_2_0.csv
saved: /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Purchases/2026_2/VAT_PURCHASE_2026_02_BOOK_5_0.csv
saved: /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Purchases/2026_2/VAT_PURCHASE_2026_02_BOOK_6_0.csv
saved: /content/drive/Shareddrives/KCW-Data/kcw_analytics/04_outputs/VAT_Purchases/2026_2/VAT_PURCHASE_2026_02_BOOK_UNKNOWN.csv