In [56]:
import os
import sys
from dotenv import load_dotenv

if "google.colab" in sys.modules:
    # Running in Colab

    !git clone https://github.com/pthengtr/kcw-analytics.git
    !cd /content/kcw-analytics && git pull origin main

    from google.colab import drive
    drive.mount("/content/drive")

    BASE_FOLDER = "/content/drive/Shareddrives"
    BASE_FOLDER_GIT = "/content"

    from google.colab import userdata
    DB_PASSWORD = userdata.get('DB_PASSWORD')
else:
    # Running in local Jupyter
    BASE_FOLDER = r"G:\Shared drives"
    BASE_FOLDER_GIT = r"C:\Users\Windows 11\Notebook"

    load_dotenv()
    DB_PASSWORD = os.getenv("DB_PASSWORD")

print("Using folder:", BASE_FOLDER)

fatal: destination path 'kcw-analytics' already exists and is not an empty directory.
From https://github.com/pthengtr/kcw-analytics
 * branch            main       -> FETCH_HEAD
Already up to date.
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Using folder: /content/drive/Shareddrives

In [57]:
from datetime import datetime
import pytz

# Singapore timezone
tz = pytz.timezone("Asia/Bangkok")

today = datetime.now(tz)

YEAR = today.year
MONTH = today.month

print(YEAR, MONTH)

2026 2

In [59]:
import os
import pandas as pd

def load_csv_folder(folder):
    """
    Load all CSV files from a folder into a dictionary of DataFrames.

    Parameters
    ----------
    folder : str or Path
        Folder path containing CSV files.

    Returns
    -------
    dict[str, pd.DataFrame]
        Dictionary where key = filename, value = DataFrame.
    """

    data = {}

    folder = str(folder)  # ensures Path() also works

    for file in os.listdir(folder):
        if file.lower().endswith(".csv"):
            path = os.path.join(folder, file)

            df = pd.read_csv(
                path,
                dtype={
                    "BCODE": "string",
                    "MOBILE": "string",
                    "BILLNO": "string",
                },
                encoding="utf-8-sig",
                low_memory=False
            )

            data[file] = df
            print(f"Loaded: {file} -> {df.shape}")

    return data

In [60]:
folder = os.path.join(
    BASE_FOLDER,
    "KCW-Data",
    "kcw_analytics",
    "02_staging",
    "VAT_Purchases",
    f"{YEAR}_{MONTH:02d}"
)

data = load_csv_folder(folder)

Loaded: VAT_PURCHASE_2026_01_BOOK_1_0.csv -> (472, 12)
Loaded: VAT_PURCHASE_2026_01_BOOK_2_0.csv -> (74, 12)
Loaded: VAT_PURCHASE_2026_01_BOOK_5_0.csv -> (19, 12)
Loaded: VAT_PURCHASE_2026_01_BOOK_6_0.csv -> (4, 12)

In [61]:
folder = os.path.join(
    BASE_FOLDER,
    "KCW-Data",
    "kcw_analytics",
    "03_curated",
)

data_raw = load_csv_folder(folder)

Loaded: fact_sales_all.csv -> (769820, 37)
Loaded: fact_sales_bills_all.csv -> (288387, 49)
Loaded: dim_date.csv -> (1827, 8)
Loaded: dim_branch.csv -> (2, 3)
Loaded: dim_category.csv -> (36, 2)
Loaded: dim_billtype.csv -> (9, 2)
Loaded: dim_account.csv -> (2360, 4)
Loaded: dim_product.csv -> (29403, 6)

In [62]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.styles import Font, Alignment, PatternFill, Border, Side
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.utils import get_column_letter

def export_vat_report(
    df,
    sheet_name,
    title_name,
    wb=None,
    company_name="บริษัท เกียรติชัยอะไหล่ยนต์ 2007 จำกัด (สำนักงานใหญ่)",
    company_address="305 หมู่ 1 ต.ชุมแสง อ.วังจันทร์ จ.ระยอง 21210",
    tax_id="0215560000262",
    overwrite_sheet=True,   # if sheet exists, replace it
):
    # ✅ Safe df check (NO "if df:" allowed)
    if df is None:
        raise ValueError("df is None")
    if isinstance(df, pd.Series):
        raise ValueError("df must be a DataFrame, not a Series")
    if df.empty:
        # still create sheet with headers/title, or just skip
        pass

    # Workbook handling
    if wb is None:
        wb = Workbook()
        # remove default sheet if empty default
        if wb.sheetnames == ["Sheet"]:
            wb.remove(wb["Sheet"])

    # Handle existing sheet name
    if sheet_name in wb.sheetnames:
        if overwrite_sheet:
            wb.remove(wb[sheet_name])
        else:
            # make a unique name
            i = 2
            base = sheet_name
            while f"{base}_{i}" in wb.sheetnames:
                i += 1
            sheet_name = f"{base}_{i}"

    ws = wb.create_sheet(sheet_name)

    # Styles
    bold = Font(bold=True)
    center = Alignment(horizontal="center", vertical="center", wrap_text=True)
    left = Alignment(horizontal="left", vertical="center", wrap_text=True)
    header_fill = PatternFill(start_color="F3DFD2", fill_type="solid")
    thin = Side(style="thin")
    border = Border(left=thin, right=thin, top=thin, bottom=thin)

    # Title / Header area
    ws.merge_cells("A1:H1")
    ws["A1"] = title_name
    ws["A1"].font = Font(bold=True, size=14)
    ws["A1"].alignment = center

    ws.merge_cells("A3:C3"); ws["A3"] = "ชื่อสถานประกอบกิจการ"
    ws.merge_cells("D3:F3"); ws["D3"] = company_name
    ws.merge_cells("A4:C4"); ws["A4"] = "ที่อยู่สถานประกอบกิจการ"
    ws.merge_cells("D4:F4"); ws["D4"] = company_address
    ws.merge_cells("A5:C5"); ws["A5"] = "เลขประจำตัวผู้เสียภาษี"
    ws.merge_cells("D5:F5"); ws["D5"] = tax_id

    for r in [3, 4, 5]:
        ws[f"A{r}"].font = bold
        ws[f"A{r}"].alignment = left
        ws[f"D{r}"].alignment = left

    # Table start
    start_row = 7

    # Write df (header + rows)
    for r_idx, row in enumerate(dataframe_to_rows(df, index=False, header=True), start_row):
        for c_idx, value in enumerate(row, 1):
            cell = ws.cell(row=r_idx, column=c_idx, value=value)
            cell.border = border
            if r_idx == start_row:
                cell.font = bold
                cell.fill = header_fill
                cell.alignment = center
            else:
                cell.alignment = left

    ws.freeze_panes = f"A{start_row+1}"

    # Column widths (safe)
    for c_idx, col_name in enumerate(df.columns, 1):
        series = df[col_name].astype(str).fillna("")
        max_len = max(series.map(len).max(), len(str(col_name)))
        ws.column_dimensions[get_column_letter(c_idx)].width = min(max_len + 2, 60)

    # Money formatting
    money_like = {"มูลค่าสินค้า", "ภาษีมูลค่าเพิ่ม", "ยอดสุทธิ", "AMOUNT", "VAT", "TOTAL"}
    for c_idx, col_name in enumerate(df.columns, 1):
        name = str(col_name).strip()
        if name in money_like or any(k in name.upper() for k in ["AMOUNT", "VAT", "TOTAL"]):
            for r in range(start_row + 1, start_row + len(df) + 1):
                ws.cell(row=r, column=c_idx).number_format = '#,##0.00'

    date_cols = {"วันที่", "BILLDATE"}
    for c_idx, col_name in enumerate(df.columns, 1):
        if str(col_name).strip() in date_cols:
            for r in range(start_row + 1, start_row + len(df) + 1):
                cell = ws.cell(row=r, column=c_idx)
                cell.number_format = "dd/mm/yyyy"   # <-- your short format

    return wb

In [63]:
def clean_excel_text(df):
    return df.apply(
        lambda col: col.str.replace(r'^="|"$', '', regex=True)
        if col.dtype == "object" or str(col.dtype) == "string"
        else col
    )

In [64]:
import pandas as pd

def build_vat_report(
    df,
    rename_map=None,
    column_order=None,
    wb=None,
    sheet_name="REPORT",
    title_name="รายงานภาษี",
    clean_text=True,
    reset_seq=True,
    seq_col="SEQ",
    seq_out_col="ลำดับ",
    add_total_row=True,
    total_sum_cols=("มูลค่าสินค้า", "ภาษีมูลค่าเพิ่ม", "ยอดสุทธิ"),
    total_label_col="เลขที่",
    total_label_text="รวม",
    empty_action="write_headers",   # "write_headers" | "skip"
    **export_kwargs
):
    if df is None:
        raise ValueError("df is None")
    if isinstance(df, pd.Series):
        raise ValueError("df must be a DataFrame, not a Series")

    df = df.copy()

    # optional clean excel ="..."
    if clean_text:
        df = clean_excel_text(df)

    # reset seq (supports either SEQ or ลำดับ)
    if reset_seq:
        df = df.reset_index(drop=True)
        if seq_col in df.columns:
            df[seq_col] = range(1, len(df) + 1)
        elif seq_out_col in df.columns:
            df[seq_out_col] = range(1, len(df) + 1)
        else:
            # create SEQ by default if neither exists
            df[seq_out_col] = range(1, len(df) + 1)

    # rename ONLY if rename_map is given AND it seems applicable
    if rename_map:
        # apply rename only if at least one key exists in df
        if any(k in df.columns for k in rename_map.keys()):
            df = df.rename(columns=rename_map)

    # ✅ EMPTY DF HANDLING (place this BEFORE column_order validation)
    if df.empty:
        if empty_action == "skip":
            return df, wb  # do nothing
        # else: write empty sheet with headers if possible
        if column_order:
            df = pd.DataFrame(columns=list(column_order))
        # export empty header sheet
        wb = export_vat_report(
            df,
            sheet_name=sheet_name,
            title_name=title_name,
            wb=wb,
            **export_kwargs
        )
        return df, wb

    # reorder if provided
    if column_order:
        missing = [c for c in column_order if c not in df.columns]
        if missing:
            raise ValueError(f"Missing columns for column_order: {missing}")
        df = df.loc[:, list(column_order)]

    # --- PATCH: add total row at end (no other logic changes)
    if add_total_row:
        total_row = {c: "" for c in df.columns}

        for c in total_sum_cols:
            if c in df.columns:
                total_row[c] = df[c].sum()

        if total_label_col in df.columns:
            total_row[total_label_col] = total_label_text

        # keep SEQ/ลำดับ blank on total row (common report style)
        if seq_col in total_row:
            total_row[seq_col] = ""
        if seq_out_col in total_row:
            total_row[seq_out_col] = ""

        df = pd.concat([df, pd.DataFrame([total_row])], ignore_index=True)


    # export
    wb = export_vat_report(
        df,
        sheet_name=sheet_name,
        title_name=title_name,
        wb=wb,
        **export_kwargs
    )

    return df, wb

In [65]:
def group_vat_by_date(df):
    df = df.copy()

    # ensure sorted so first/last BILLNO is correct
    df = df.sort_values(["วันที่", "เลขที่"])

    # define aggregation
    agg_dict = {
        "เลขที่": lambda x: f"{x.iloc[0]} - {x.iloc[-1]}",
        "มูลค่าสินค้า": "sum",
        "ภาษีมูลค่าเพิ่ม": "sum",
        "ยอดสุทธิ": "sum"
    }

    # all remaining columns → first
    for col in df.columns:
        if col not in ["วันที่", "เลขที่", "มูลค่าสินค้า", "ภาษีมูลค่าเพิ่ม", "ยอดสุทธิ"]:
            agg_dict[col] = "first"

    df_grouped = (
        df
        .groupby("วันที่", as_index=False)
        .agg(agg_dict)
    )

    # rebuild SEQ
    if "ลำดับ" in df_grouped.columns:
        df_grouped["ลำดับ"] = range(1, len(df_grouped) + 1)

    return df_grouped

In [66]:
def get_df(data, key):
    return data[key].copy() if key in data else pd.DataFrame()

df_book_1 = get_df(data, f"VAT_PURCHASE_{YEAR}_{MONTH:02d}_BOOK_1_0.csv")
df_book_2 = get_df(data, f"VAT_PURCHASE_{YEAR}_{MONTH:02d}_BOOK_2_0.csv")
df_book_5 = get_df(data, f"VAT_PURCHASE_{YEAR}_{MONTH:02d}_BOOK_5_0.csv")
df_book_6 = get_df(data, f"VAT_PURCHASE_{YEAR}_{MONTH:02d}_BOOK_6_0.csv")
df_unknown = get_df(data, f"VAT_PURCHASE_{YEAR}_{MONTH:02d}_BOOK_UNKNOWN.csv")

In [67]:
wb = None

In [68]:
column_order = [
    "ลำดับ",
    "วันที่",
    "เลขที่",
    "ชื่อผู้ขายสินค้า",
    "เลขผู้เสียภาษี",
    "มูลค่าสินค้า",
    "ภาษีมูลค่าเพิ่ม",
    "ยอดสุทธิ",
    "รายการสินค้า"
]

In [69]:
rename_map = {
    "SEQ": "ลำดับ",
    "BILLDATE": "วันที่",
    "BILLNO": "เลขที่",
    "ACCTNAME": "ชื่อผู้ขายสินค้า",
    "REMARKS_EXTRACT": "เลขผู้เสียภาษี",
    "BEFORETAX": "มูลค่าสินค้า",
    "TAX": "ภาษีมูลค่าเพิ่ม",
    "AFTERTAX": "ยอดสุทธิ",
    "DETAIL": "รายการสินค้า"
}

df_book_1_report, wb = build_vat_report(
    df_book_1,
    rename_map,
    column_order,
    wb=wb,
    sheet_name="Book 1",
    title_name="รายงานภาษีซื้อ"
)

df_book_2_report, wb = build_vat_report(
    df_book_2,
    rename_map,
    column_order,
    wb=wb,
    sheet_name="Book 2",
    title_name="รายงานภาษีซื้อ"
)

df_book_5_report, wb = build_vat_report(
    df_book_5,
    rename_map,
    column_order,
    wb=wb,
    sheet_name="Book 5",
    title_name="รายงานภาษีซื้อ"
)

df_book_6_report, wb = build_vat_report(
    df_book_6,
    rename_map,
    column_order,
    wb=wb,
    sheet_name="Book 6",
    title_name="รายงานภาษีซื้อ"
)

df_unknown_report, wb = build_vat_report(
    df_unknown,
    rename_map,
    column_order,
    wb=wb,
    sheet_name="Unknown",
    title_name="รายงานภาษีซื้อ"
)

In [70]:
from sqlalchemy import create_engine

DATABASE_URL = (
    "postgresql+psycopg2://"
    f"postgres.jdzitzsucntqbjvwiwxm:{DB_PASSWORD}@"
    "aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
)

engine_supabase = create_engine(DATABASE_URL)

# test connection
with engine_supabase.connect() as conn_test:
    print("Connected via SQLAlchemy ✅")

Connected via SQLAlchemy ✅

In [71]:
df_expense = pd.read_sql(
    f"""
    SELECT *
    FROM vw_expense_entry_flat_tax
    WHERE created_at >= DATE '{YEAR}-{MONTH:02d}-10'
      AND created_at <=  (DATE '{YEAR}-{MONTH:02d}-10' + INTERVAL '1 month');
    """,
    engine_supabase
)

In [72]:
df_expense.columns

Index(['entry_uuid', 'receipt_uuid', 'receipt_number', 'doc_type',
       'ref_receipt_uuid', 'receipt_date', 'receipt_day',
       'receipt_month_start', 'receipt_month_year', 'receipt_year',
       'receipt_month', 'user_id', 'branch_uuid', 'branch_name',
       'payment_uuid', 'payment_method_name', 'party_uuid', 'party_name',
       'tax_payer_id', 'party_legal_name', 'party_tax_address', 'item_uuid',
       'item_name', 'category_uuid', 'category_name', 'entry_detail',
       'quantity', 'unit_price', 'entry_discount', 'entry_amount', 'sign',
       'signed_entry_amount', 'signed_gross_amount', 'signed_entry_discount',
       'total_amount', 'signed_total', 'receipt_discount', 'vat',
       'withholding', 'tax_exempt', 'voucher_description', 'receipt_remark',
       'has_images', 'created_at'],
      dtype='object')

In [73]:
import pandas as pd

def summarize_expense_receipts(df_expense_vat: pd.DataFrame) -> pd.DataFrame:
    df = df_expense_vat.copy()

    # ensure numeric
    df["signed_entry_amount"] = pd.to_numeric(df["signed_entry_amount"], errors="coerce").fillna(0)
    df["signed_total"] = pd.to_numeric(df["signed_total"], errors="coerce")

    # pick the row (per receipt_uuid) with biggest signed_entry_amount
    idx_max = df.groupby("receipt_uuid")["signed_entry_amount"].idxmax()
    df_pick = df.loc[idx_max, ["receipt_uuid", "entry_detail"]].copy()

    # receipt-level aggregation
    agg = (
        df.groupby("receipt_uuid", as_index=False)
          .agg({
              "receipt_date": "first",
              "receipt_number": "first",
              "party_name": "first",
              "tax_payer_id": "first",
              "signed_entry_amount": "sum",   # sum lines
              "signed_total": "first",        # header measure (don’t sum)
              "doc_type": "first",
              "branch_uuid": "first"
          })
    )

    # merge the picked entry_detail
    out = agg.merge(df_pick, on="receipt_uuid", how="left")

    # final column order
    out = out[[
        "receipt_date",
        "receipt_number",
        "party_name",
        "tax_payer_id",
        "entry_detail",
        "signed_entry_amount",
        "signed_total",
        "doc_type",
        "branch_uuid"
    ]]

    return out

In [74]:
df_expense_vat = df_expense[df_expense["vat"] != 0]

df_expense_vat = summarize_expense_receipts(df_expense_vat)

In [75]:
df_receipt = df_expense_vat[df_expense_vat["doc_type"] == "RECEIPT"].copy()
df_credit_note = df_expense_vat[df_expense_vat["doc_type"] == "CREDIT_NOTE"].copy()

In [76]:
df_receipt["vat_amount"] = df_receipt["signed_entry_amount"] * 0.07
df_receipt["after_vat"]  = df_receipt["signed_entry_amount"] * 1.07

df_credit_note["vat_amount"] = df_credit_note["signed_entry_amount"] * 0.07
df_credit_note["after_vat"]  = df_credit_note["signed_entry_amount"] * 1.07

In [77]:
HQ_UUID = "c93efb5f-07c9-4229-b6b3-568ce1c0a9ab"

df_receipt["branch_uuid"] = df_receipt["branch_uuid"].astype(str)
df_credit_note["branch_uuid"] = df_credit_note["branch_uuid"].astype(str)

df_receipt_hq = df_receipt.loc[df_receipt["branch_uuid"].eq(HQ_UUID)].copy()
df_receipt_syp = df_receipt.loc[~df_receipt["branch_uuid"].eq(HQ_UUID)].copy()

df_credit_note_hq = df_credit_note.loc[df_credit_note["branch_uuid"].eq(HQ_UUID)].copy()
df_credit_note_syp  = df_credit_note.loc[~df_credit_note["branch_uuid"].eq(HQ_UUID)].copy()

In [78]:
rename_map_expense = {
    "seq": "ลำดับ",
    "receipt_date": "วันที่",
    "receipt_number": "เลขที่",
    "party_name": "ชื่อผู้ขายสินค้า",
    "tax_payer_id": "เลขผู้เสียภาษี",
    "signed_entry_amount": "มูลค่าสินค้า",
    "vat_amount": "ภาษีมูลค่าเพิ่ม",
    "after_vat": "ยอดสุทธิ",
    "entry_detail": "รายการสินค้า",
}

column_order_expense = [
    "ลำดับ", "วันที่", "เลขที่", "ชื่อผู้ขายสินค้า", "เลขผู้เสียภาษี",
    "มูลค่าสินค้า", "ภาษีมูลค่าเพิ่ม", "ยอดสุทธิ", "รายการสินค้า"
]

df_credit_note_hq_report, wb = build_vat_report(
    df_credit_note_hq,
    rename_map_expense,
    column_order_expense,
    wb=wb,
    sheet_name="Expense Credit Note",
    title_name="รายงานภาษีซื้อ (Expense Credit Note)"
)

df_receipt_hq_report, wb = build_vat_report(
    df_receipt_hq,
    rename_map_expense,
    column_order_expense,
    wb=wb,
    sheet_name="Expense Receipt",
    title_name="รายงานภาษีซื้อ (Expense Receipt)"
)

wb_syp = None

df_credit_note_syp_report, wb_syp = build_vat_report(
    df_credit_note_syp,
    rename_map_expense,
    column_order_expense,
    wb=wb_syp,
    sheet_name="Expense Credit Note",
    title_name="รายงานภาษีซื้อ (Expense Credit Note)",
    company_name="บริษัท เกียรติชัยอะไหล่ยนต์ 2007 จำกัด (สาขาที่ 00003)",
    company_address="16/2 หมู่ 2 ต.ห้วยทับมอญ อ.เขาชะเมา จ.ระยอง 21110",
    tax_id="0215560000262",
)

df_receipt_syp_report, wb_syp = build_vat_report(
    df_receipt_syp,
    rename_map_expense,
    column_order_expense,
    wb=wb_syp,
    sheet_name="Expense Receipt",
    title_name="รายงานภาษีซื้อ (Expense Receipt)",
    company_name="บริษัท เกียรติชัยอะไหล่ยนต์ 2007 จำกัด (สาขาที่ 00003)",
    company_address="16/2 หมู่ 2 ต.ห้วยทับมอญ อ.เขาชะเมา จ.ระยอง 21110",
    tax_id="0215560000262",
)

In [79]:
def remove_total_row(df, label_col="เลขที่", label_text="รวม"):
    if label_col in df.columns:
        return df[df[label_col] != label_text].copy()
    return df.copy()

def strip_totals(dfs):
    return [remove_total_row(df) for df in dfs]

df_purchase_all_hq = pd.concat(strip_totals([
    df_book_1_report,
    df_book_2_report,
    df_book_5_report,
    df_book_6_report,
    df_unknown_report,
    df_receipt_hq_report,
    df_credit_note_hq_report,
]), ignore_index=True)

df_purchase_all_syp = pd.concat(strip_totals([
    df_receipt_syp_report,
    df_credit_note_syp_report,
]), ignore_index=True)

/tmp/ipython-input-2099/359976293.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_purchase_all_hq = pd.concat(strip_totals([
/tmp/ipython-input-2099/359976293.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_purchase_all_syp = pd.concat(strip_totals([

In [80]:
df_purchase_all_hq["วันที่"] = pd.to_datetime(df_purchase_all_hq["วันที่"], errors="coerce")
df_purchase_all_hq = df_purchase_all_hq.sort_values(["วันที่", "เลขที่"]).reset_index(drop=True)

df_purchase_all_syp["วันที่"] = pd.to_datetime(df_purchase_all_syp["วันที่"], errors="coerce")
df_purchase_all_syp = df_purchase_all_syp.sort_values(["วันที่", "เลขที่"]).reset_index(drop=True)

In [81]:
df_purchase_all_hq_report, wb = build_vat_report(
    df_purchase_all_hq,
    rename_map_expense,
    column_order_expense,
    wb=wb,
    sheet_name="รวม",
    title_name="รายงานภาษีซื้อ (รวม)",
    clean_text=False,   # ✅ important
)

In [82]:
df_purchase_all_syp_report, wb_syp = build_vat_report(
    df_purchase_all_syp,
    rename_map_expense,
    column_order_expense,
    wb=wb_syp,
    sheet_name="รวม",
    title_name="รายงานภาษีซื้อ (รวม)",
    clean_text=False,   # ✅ important
    company_name="บริษัท เกียรติชัยอะไหล่ยนต์ 2007 จำกัด (สาขาที่ 00003)",
    company_address="16/2 หมู่ 2 ต.ห้วยทับมอญ อ.เขาชะเมา จ.ระยอง 21110",
    tax_id="0215560000262",
)

In [83]:
folder = os.path.join(
    BASE_FOLDER,
    "KCW-Data",
    "kcw_analytics",
    "04_outputs",
    "VAT_Purchases_Report",
    f"vat_purchases_report_{YEAR}_{MONTH:02}_hq.xlsx"
)

# ⭐ create directory if missing
os.makedirs(os.path.dirname(folder), exist_ok=True)

wb.save(folder)

In [84]:
folder = os.path.join(
    BASE_FOLDER,
    "KCW-Data",
    "kcw_analytics",
    "04_outputs",
    "VAT_Purchases_Report",
    f"vat_purchases_report_{YEAR}_{MONTH:02}_syp.xlsx"
)

# ⭐ create directory if missing
os.makedirs(os.path.dirname(folder), exist_ok=True)

wb_syp.save(folder)