In [1]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 30.1 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [2]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://postgres.jdzitzsucntqbjvwiwxm:DB_PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
)

In [3]:
query = """
SELECT *
FROM public.vw_expense_entry_flat
ORDER BY created_at DESC
"""

df_expense_entries = pd.read_sql(query, engine)

df_expense_entries.head()

,entry_uuid,receipt_uuid,receipt_number,doc_type,ref_receipt_uuid,receipt_date,receipt_day,receipt_month_start,receipt_month_year,receipt_year,...,total_amount,signed_total,receipt_discount,vat,withholding,tax_exempt,voucher_description,receipt_remark,has_images,created_at
0,ef8b53e0-f68e-4c0e-b73e-f2b32b802820,f6f2cc5b-95cb-4474-94cb-82917c6e5840,PV6901026,RECEIPT,None,2026-01-20 18:05:00,2026-01-20,2026-01-01,2026-01,2026,...,2000.0,2000.0,0.0,0.0,5.0,0.0,ค่าเช่ารถยนต์สำนักงาน ด.01/69,,True,2026-02-04 12:40:51.128507
1,1a2e965d-c5a2-46c5-95e3-8831671d1a8b,803ab7d4-e05c-49af-91cf-70fcc6d66f06,PV6901027,RECEIPT,None,2026-01-20 18:05:00,2026-01-20,2026-01-01,2026-01,2026,...,20000.0,20000.0,0.0,0.0,5.0,0.0,ค่าเช่าสำนักงาน ด.01/69,,True,2026-02-04 12:37:41.947996
2,d797352c-4fa9-42d3-8de9-cb9eff4926b2,4fe9026f-dae0-4d07-9352-fd89d3490c82,2568-A0000003,RECEIPT,None,2025-12-15 17:53:00,2025-12-15,2025-12-01,2025-12,2025,...,25500.0,25500.0,0.0,0.0,0.0,0.0,บริจาคเงิน โรงเรียนบ้านน้ำมี,,True,2026-02-02 11:29:01.770799
3,41231104-d4b1-4d00-8774-83e538639b7c,a9b7cf4d-9286-49b2-91fc-b46f8a888649,RT-260123-14,RECEIPT,None,2026-01-23 16:00:00,2026-01-23,2026-01-01,2026-01,2026,...,31000.0,31000.0,0.0,7.0,3.0,0.0,ค่าทำบัญชี ด.12/68,,True,2026-02-02 11:15:47.810243
4,97b30551-d2d3-4951-943c-b170d36b5311,126d93ee-9c97-4319-ba92-6082f4ab9658,RT-260117-02,RECEIPT,None,2026-01-17 16:00:00,2026-01-17,2026-01-01,2026-01,2026,...,15000.0,15000.0,0.0,7.0,3.0,0.0,ค่าทำบัญชีเพิ่มเติม ปี 2568,,True,2026-02-02 11:11:39.762194

In [4]:
query = """
SELECT *
FROM public.vw_expense_general_flat
ORDER BY created_at DESC
"""

df_expense_general = pd.read_sql(query, engine)

df_expense_general.head()

,general_uuid,entry_date,entry_day,entry_month_start,entry_month_year,entry_year,entry_month,branch_uuid,branch_name,payment_uuid,...,item_uuid,item_name,category_uuid,category_name,description,remark,quantity,unit_price,amount,created_at
0,7700068d-98e0-4bde-9a48-07f3ab076319,2026-02-07 09:17:40,2026-02-07,2026-02-01,2026-02,2026,2,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,2e128231-a927-4928-9733-d01d963ffe79,อุปกรณ์สำนักงานออนไลน์,3af0d8a1-e2e4-469c-9ac1-1fd9af58003a,ออนไลน์,ค่าขนส่งบับเบิ้ล เทป ต่างๆ,,1,1350.0,1350.0,2026-02-07 02:18:26.585853+00:00
1,681b70fb-170d-4e0a-a664-0b6a6f59a51f,2026-01-13 16:34:00,2026-01-13,2026-01-01,2026-01,2026,1,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,90b454ae-3915-46bc-8c19-d37efc3dd273,ค่าธรรมเนียมธนาคาร,4eecb740-0024-4576-9a53-04626532be9c,ค่าธรรมเนียมธนาคาร,ค่าธรรมเนียมธนาคาร,20/01/2569 ในไลน์ค่าใช้จ่าย,1,100.0,100.0,2026-02-05 11:14:27.875892+00:00
2,9130187e-79de-46e4-a522-b2cca5fde9c3,2026-01-17 16:34:00,2026-01-17,2026-01-01,2026-01,2026,1,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,dae82f8e-ab9c-4637-8cd0-f8a164fdd118,อุปกรณ์สำนักงาน,e3aefe6a-529a-4424-8409-ec71f367591e,ค่าใช้จ่ายในการดำเนินการ,ค่าถุงซิบ,,1,196.0,196.0,2026-02-05 11:08:32.833458+00:00
3,5d8cf40e-cd2f-46e6-9b1c-6dc99cd72b38,2026-01-17 16:34:00,2026-01-17,2026-01-01,2026-01,2026,1,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,4d1e0ccc-3ad3-4a73-aa93-6847d329f145,ค่าน้ำมัน,e3aefe6a-529a-4424-8409-ec71f367591e,ค่าใช้จ่ายในการดำเนินการ,เติมน้ำมันรถมอไซค์,,1,100.0,100.0,2026-02-05 11:07:51.753900+00:00
4,e7fbee92-ec81-48da-8f94-cba2052ca6a8,2026-01-10 16:34:00,2026-01-10,2026-01-01,2026-01,2026,1,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,4d1e0ccc-3ad3-4a73-aa93-6847d329f145,ค่าน้ำมัน,e3aefe6a-529a-4424-8409-ec71f367591e,ค่าใช้จ่ายในการดำเนินการ,เต็มน้ำมันรถมอร์ไซค์,,1,100.0,100.0,2026-02-05 11:04:52.071944+00:00

In [8]:
query = """
SELECT *
FROM public.expense_category
ORDER BY category_name DESC
"""

df_expense_category = pd.read_sql(query, engine)

df_expense_category.head()

               category_name                         category_uuid
0                   ออนไลน์   3af0d8a1-e2e4-469c-9ac1-1fd9af58003a
1                สาธารณูปโภค  62a1a58b-bc96-4a43-9292-753512d57a7a
2                       ภาษี  ec0d6de1-baa2-4769-af99-202ef54f8200
3  บำรุงรักษาอุปกรณ์/ร้านค้า  9892ea30-cab9-457e-814a-019ac23acf36
4                   ดอกเบี้ย  11871e51-698b-41ac-b65b-315076136b4a

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
df_expense_general.to_csv("/content/drive/MyDrive/kcw_analytics/03_curated/fact_expense_general.csv", index=False, encoding="utf-8-sig")
df_expense_entries.to_csv("/content/drive/MyDrive/kcw_analytics/03_curated/fact_expense_entries.csv", index=False, encoding="utf-8-sig")
df_expense_category.to_csv("/content/drive/MyDrive/kcw_analytics/03_curated/dim_expense_category.csv", index=False, encoding="utf-8-sig")