In [1]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 29.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [4]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://postgres.jdzitzsucntqbjvwiwxm:3h3aAixsyK4X762r@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
)

In [5]:
query = """
SELECT *
FROM public.vw_expense_entry_flat
ORDER BY created_at DESC
"""

df_expense_entries = pd.read_sql(query, engine)

df_expense_entries.head()

,entry_uuid,receipt_uuid,receipt_number,doc_type,ref_receipt_uuid,receipt_date,receipt_day,receipt_month_start,receipt_month_year,receipt_year,...,total_amount,signed_total,receipt_discount,vat,withholding,tax_exempt,voucher_description,receipt_remark,has_images,created_at
0,d1515651-1c32-4faa-82a2-b313392be78b,f143daec-6f64-49c4-8fc4-fe62fe3b7930,1002634,RECEIPT,None,2026-02-20 19:49:47,2026-02-20,2026-02-01,2026-02,2026,...,19.000000,19.000000,0.0,0.0,0.0,0.0,ส่งเอกสาร,,True,2026-02-20 12:54:29.986642
1,e790a6dd-624a-45e3-a870-c0413bf06f97,b32209a1-6e95-48d2-bd3a-91364fc4fec5,1002611,RECEIPT,None,2026-02-20 19:49:47,2026-02-20,2026-02-01,2026-02,2026,...,129.000000,129.000000,0.0,0.0,0.0,0.0,ส่งเอกสาร,,True,2026-02-20 12:53:34.871953
2,92deb645-e9ce-4f6f-8320-0a8f47c34346,fd510101-6f0a-4290-8405-228b836d28bd,1002611,RECEIPT,None,2026-02-20 19:49:47,2026-02-20,2026-02-01,2026-02,2026,...,7.476636,7.476636,0.0,7.0,0.0,0.0,ค่าหุ้มห่อกล่อง,,True,2026-02-20 12:51:59.166083
3,bc860429-5c18-4a7d-a1a4-9df78b323c66,ab3242ba-0c61-4dd9-9ff2-7c68ecafa337,SI-036847260200163,RECEIPT,None,2026-02-18 19:04:00,2026-02-18,2026-02-01,2026-02,2026,...,1943.925234,1943.925234,0.0,7.0,0.0,0.0,กระดาษถ่ายเอกสาร A4 70 แกรม,,True,2026-02-20 12:35:12.609904
4,a954f809-6570-43f2-acd7-01e8b83f9426,f3572d7b-0486-4c9f-9470-8d9684ca6f0d,000030743495,RECEIPT,None,2026-02-20 19:04:00,2026-02-20,2026-02-01,2026-02,2026,...,5040.040000,5040.040000,0.0,0.0,0.0,0.0,ค่าไฟฟ้า ด.02/69,,True,2026-02-20 12:32:13.566707

In [6]:
query = """
SELECT *
FROM public.vw_expense_general_flat
ORDER BY created_at DESC
"""

df_expense_general = pd.read_sql(query, engine)

df_expense_general.head()

,general_uuid,entry_date,entry_day,entry_month_start,entry_month_year,entry_year,entry_month,branch_uuid,branch_name,payment_uuid,...,item_uuid,item_name,category_uuid,category_name,description,remark,quantity,unit_price,amount,created_at
0,981af824-236d-48e7-b8cc-f5849f9a7ad3,2026-02-06 18:36:00,2026-02-06,2026-02-01,2026-02,2026,2,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,5ee2ce82-ce4d-474a-bb63-9f2fd98f2fad,...,d3c1f417-6503-46f7-9df4-4df5089f0b03,ค่าใช้จ่ายส่วนตัวกรรมการ,87c881be-f3af-4e90-8306-dc63e711042f,ค่าใช้จ่ายกรรมการ,ค่าบำรุงรักษารถ MG,,1,5039.7,5039.7,2026-02-20 11:37:53.354417+00:00
1,9256c5fc-b81b-4d7b-b186-9ab476288b11,2025-09-27 00:00:00,2025-09-27,2025-09-01,2025-09,2025,9,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,14778233-e1b5-437a-a5f8-a473ba863441,ดอกเบี้ยจ่าย,11871e51-698b-41ac-b65b-315076136b4a,ดอกเบี้ย,ดอกเบี้ย+ผ่อน,None,1,127600.0,127600.0,2026-02-19 02:57:31.751755+00:00
2,81754f8e-da01-4725-a712-c31aa1c7b54a,2025-08-27 00:00:00,2025-08-27,2025-08-01,2025-08,2025,8,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,14778233-e1b5-437a-a5f8-a473ba863441,ดอกเบี้ยจ่าย,11871e51-698b-41ac-b65b-315076136b4a,ดอกเบี้ย,ดอกเบี้ย+ผ่อน,None,1,139454.0,139454.0,2026-02-19 02:57:31.751755+00:00
3,745904e8-b8c8-4363-a5d9-5dc48162df64,2025-07-27 00:00:00,2025-07-27,2025-07-01,2025-07,2025,7,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,14778233-e1b5-437a-a5f8-a473ba863441,ดอกเบี้ยจ่าย,11871e51-698b-41ac-b65b-315076136b4a,ดอกเบี้ย,ดอกเบี้ย+ผ่อน,None,1,156760.0,156760.0,2026-02-19 02:57:31.751755+00:00
4,ea59d13d-8ed6-49a2-b6e0-0f71c1b5513d,2025-06-27 00:00:00,2025-06-27,2025-06-01,2025-06,2025,6,c93efb5f-07c9-4229-b6b3-568ce1c0a9ab,สำนักงานใหญ่,872e9010-b415-42f0-8c56-705d99f04073,...,14778233-e1b5-437a-a5f8-a473ba863441,ดอกเบี้ยจ่าย,11871e51-698b-41ac-b65b-315076136b4a,ดอกเบี้ย,ดอกเบี้ย+ผ่อน,None,1,156106.0,156106.0,2026-02-19 02:57:31.751755+00:00

In [7]:
query = """
SELECT *
FROM public.expense_category
ORDER BY category_name DESC
"""

df_expense_category = pd.read_sql(query, engine)

df_expense_category.head()

               category_name                         category_uuid
0                   ออนไลน์   3af0d8a1-e2e4-469c-9ac1-1fd9af58003a
1                สาธารณูปโภค  62a1a58b-bc96-4a43-9292-753512d57a7a
2                       ภาษี  ec0d6de1-baa2-4769-af99-202ef54f8200
3  บำรุงรักษาอุปกรณ์/ร้านค้า  9892ea30-cab9-457e-814a-019ac23acf36
4                   ดอกเบี้ย  11871e51-698b-41ac-b65b-315076136b4a

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df_expense_general.to_csv("/content/drive/MyDrive/kcw_analytics/03_curated/fact_expense_general.csv", index=False, encoding="utf-8-sig")
df_expense_entries.to_csv("/content/drive/MyDrive/kcw_analytics/03_curated/fact_expense_entries.csv", index=False, encoding="utf-8-sig")
df_expense_category.to_csv("/content/drive/MyDrive/kcw_analytics/03_curated/dim_expense_category.csv", index=False, encoding="utf-8-sig")